<aside>
    <h2>Conctactez-moi</h2>
    <address>
        Millicent Billette
        <br/><a href="mailto:millicent@1forma-tic.fr">millicent@1forma-tic.fr</a>
        <br/><a href="tel:0033770772770">+33&nbsp;(0)&nbsp;770&nbsp;772&nbsp;770</a>
        <br/><a href="#contact">Bègles - Bordeaux</a>
        <br/><br/>
    </address>
    <div id="credit_temps">
        <h3>Prix libre solidaire</h3>
        <p>Crédit-temps restant</p>
        <strong>40 minutes</strong>
    </div>
</aside>
<footer>
    <address>
        <a href="mailto:millicent@1forma-tic.fr">millicent@1forma-tic.fr</a>
        -
        <a href="tel:0033770772770">+33&nbsp;(0)&nbsp;770&nbsp;772&nbsp;770</a>
    </address>
</footer>
