<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <meta charset="utf-8"/>

    <title>1forma-tic.fr</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="img/1forma-tic.svg"/>
    <link rel="canonical" href="https://1forma-tic.fr/"/>
    <link type="text/plain" rel="author" href="https://1forma-tic.fr/humans.txt"/>

    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Mettre l'informatique au service de l'humain"/>
    <meta property="og:site_name" content="1forma-tic.fr"/>
    <meta property="og:url" content="https://1forma-tic.fr/"/>
    <meta property="og:image" content="https://1forma-tic.fr/img/1000i100-1forma-tic.jpg"/>
    <meta property="og:description"
          content="Millicent Billette, informaticien passionné depuis l'enfance, s'est donné pour mission de mettre la technologie à votre service. Liberté - Simplicité - Confidentialité"/>
    <meta property="og:updated_time" content="{build:now}"/>

</head>
