<nav>
    <a href="#splash" class="title">
        <img src="img/1forma-tic.svg" alt="logo 1forma-tic.fr">
        1forma-tic.fr
    </a>
    <div class="spacer"></div>
    <a href="#accueil">Accueil</a>
    <a href="#services">Services</a>
    <a href="#tarifs">Tarifs</a>
    <a href="#references">Références</a><!-- Réalisations -->
    <a href="#contact">Contact</a>
</nav>
