https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&business=paypal@1forma-tic.fr&item_name=Soutien régulier&a3=15.00&p3=1&t3=M&currency_code=EUR

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="paypal@1forma-tic.fr">
    <input type="hidden" name="lc" value="FR">
    <input type="hidden" name="item_name" value="soutien régulier">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="a3" value="15.00"> <!-- Montant -->
    <input type="hidden" name="p3" value="1"> <!-- fréquence 1:chaque -->
    <input type="hidden" name="t3" value="M"> <!-- M:Mensuel -->
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
    <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>





<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="paypal@1forma-tic.fr">
    <input type="hidden" name="lc" value="FR">
    <input type="hidden" name="item_name" value="soutien régulier">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
    <table>
        <tr><td><input type="hidden" name="on0" value="Montant">Montant</td></tr><tr><td><select name="os0">
                    <option value="Goutte à goutte">Goutte à goutte : €1,00 EUR - mensuel</option>
                    <option value="Filet d'eau">Filet d'eau : €3,00 EUR - mensuel</option>
                    <option value="Ruisseau">Ruisseau : €5,00 EUR - mensuel</option>
                    <option value="Torrent">Torrent : €10,00 EUR - mensuel</option>
                    <option value="Affluent">Affluent : €15,00 EUR - mensuel</option>
                    <option value="Rivière">Rivière : €30,00 EUR - mensuel</option>
                    <option value="Fleuve">Fleuve : €50,00 EUR - mensuel</option>
                    <option value="Estuaire">Estuaire : €100,00 EUR - mensuel</option>
                    <option value="Mer">Mer : €300,00 EUR - mensuel</option>
                    <option value="Océan">Océan : €1 000,00 EUR - mensuel</option>
                </select> </td></tr>
    </table>
    <input type="hidden" name="option_select0" value="Goutte à goutte">
    <input type="hidden" name="option_amount0" value="1.00">
    <input type="hidden" name="option_period0" value="M">
    <input type="hidden" name="option_frequency0" value="1">
    <input type="hidden" name="option_select1" value="Filet d'eau">
    <input type="hidden" name="option_amount1" value="3.00">
    <input type="hidden" name="option_period1" value="M">
    <input type="hidden" name="option_frequency1" value="1">
    <input type="hidden" name="option_select2" value="Ruisseau">
    <input type="hidden" name="option_amount2" value="5.00">
    <input type="hidden" name="option_period2" value="M">
    <input type="hidden" name="option_frequency2" value="1">
    <input type="hidden" name="option_select3" value="Torrent">
    <input type="hidden" name="option_amount3" value="10.00">
    <input type="hidden" name="option_period3" value="M">
    <input type="hidden" name="option_frequency3" value="1">
    <input type="hidden" name="option_select4" value="Affluent">
    <input type="hidden" name="option_amount4" value="15.00">
    <input type="hidden" name="option_period4" value="M">
    <input type="hidden" name="option_frequency4" value="1">
    <input type="hidden" name="option_select5" value="Rivière">
    <input type="hidden" name="option_amount5" value="30.00">
    <input type="hidden" name="option_period5" value="M">
    <input type="hidden" name="option_frequency5" value="1">
    <input type="hidden" name="option_select6" value="Fleuve">
    <input type="hidden" name="option_amount6" value="50.00">
    <input type="hidden" name="option_period6" value="M">
    <input type="hidden" name="option_frequency6" value="1">
    <input type="hidden" name="option_select7" value="Estuaire">
    <input type="hidden" name="option_amount7" value="100.00">
    <input type="hidden" name="option_period7" value="M">
    <input type="hidden" name="option_frequency7" value="1">
    <input type="hidden" name="option_select8" value="Mer">
    <input type="hidden" name="option_amount8" value="300.00">
    <input type="hidden" name="option_period8" value="M">
    <input type="hidden" name="option_frequency8" value="1">
    <input type="hidden" name="option_select9" value="Océan">
    <input type="hidden" name="option_amount9" value="1000.00">
    <input type="hidden" name="option_period9" value="M">
    <input type="hidden" name="option_frequency9" value="1">
    <input type="hidden" name="option_index" value="0">
    <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
