<section id="pourquoi-1forma-tic" class="subPage"><%- include("pourquoi-1forma-tic") %></section>
<article>
    <h2>Contact</h2>
    <%- include("coordonnees") %>
    <%- include("legals") %>
</article>
