<article>
    <h2>Références</h2>
    <h3>Réalisations</h3>
    <div class="blocks">
        <section>
            <h4>Web</h4>
            <ul>
                <li><a href="https://mycelia.frama.io/mycelia-front-app/">Mycelia</a></li>
                <!--<li>blog.1000i100.fr</li>-->
                <li><a href="https://Ǧ1.money/">Ǧ1.money</a></li>
                <li><a href="https://gsper.duniter.io/">Gsper</a></li>
                <li><a href="https://rml12.duniter.io/">RML12</a></li>
                <li><a href="http://christophe-billette.fr/">christophe-billette.fr</a></li>
                <li><a href="http://blog.marie-nau.fr/">blog.marie-nau.fr</a></li>
                <li>Numissima</li>
                <li>Grammarium</li>
                <li>L'assistante Fourmizzz</li>
                <li>Bibtec</li>
                <li>Vectoriel</li>
                <li>Démo codepen</li>
            </ul>
        </section>
        <section>
            <h4>Graphique</h4>
            <ul>
                <li>Logos (crea complètes : 1forma-tic.fr, ContribuLibre, Grammarium, Social-Privacy, 1nomable,
                    Gsper, fawkes, remaniement/déclinaison: Gvu, Finition et variantes du logo 1twitif + bannières)
                </li>
                <li>Carte de viste hybride plaquette commerciale</li>
                <li>Carte de viste 1000feuilles</li>
                <li>Restauration numérique de peinture murale de Pompeï</li>
                <li>Création animée / interactive (miaoumeou, chargement assistante, 1twitif-js)</li>
                <li>Co-création des plaquettes 1dex</li>
                <li>Flyer, bannières et goodies évènementiels (stages escrime 2009)</li>
                <li>Traveaux photographique (pannoramas, détourages, vectorisations)</li>
                <li>Divers (diaporamas, modelisation architecturale)</li>
            </ul>
        </section>
    </div>
    <h3>Formations</h3>
    <p>
        Je me considère essentiellement autodidacte dans mon rapport à l'apprentissage.
        Pour autant, j'ai validé certaines de mes compétences par des diplômes, et avec le recul,
        je reconnais aussi avoir acquis durant mes études des connaissances théoriques structurantes que je ne
        serais
        probablement pas allé chercher par moi-même.
    </p>
    <h4>Diplômes</h4>
    <ul>
        <li>Master 2 eMiage SIMI</li>
        <li>DU CPM</li>
        <li>Maitrise / Master 1 Génie logiciel</li>
        <li>Licence informatique</li>
        <li>Bac S</li>
        <li>Certification intégrateur prestashop</li>
    </ul>
    <h4>Livres lus</h4><!-- Lectures achevées -->
    (ergonomie, sécurité, clean-code...)
    <h4>Séminaires et formations</h4><!-- Séminaires/conférences/événements -->
    <ul>
        <li>Agile tour Bordeaux 2012, 2013, 2014, 2015, 2016, 2017</li>
        <li>Agile Open France 2016, 2017, 2018 Itterswiller</li>
        <li>Global day of code retreat 2013-Bordeaux</li>
        <li>Geek Camp Okiwi 3 éditions ou plus</li>
        <li>RMLL 2010-Bordeaux, 2014-Monpellier, 2017-St-Etienne</li>
        <li>RML 7-Laval-2016, 8-Toulouse-2016, 9-Le-Havre-2017, 10-Montpellier-2017</li>
        <li>Capitole du libre Toulouse 2015, 2016</li>
        <li>Formation au télétravail 2014-Murat</li>
    </ul>
</article>
