<article class="blocks">
    <header>
        <h2>Services</h2>
        <p>
            Professionnel ou particulier, l'ensemble de mes services vous sont accessibles.
        </p>
    </header>
    <section>
        <h3>Particulier</h3>
        <ul>
            <li><a href="#assistance_informatique" class="subPageLink">Assistance informatique</a></li>
            <li>Je restaure vos données supprimées ou inaccessibles</li>
            <li>J'automatise vos sauvegardes pour mettre vos données en sécurité</li>
            <li>Je répare votre ordinateur, téléphone, imprimante...</li>
            <li>Je nettoie votre ordinateur de ses virus, mouchards et publicités</li>
            <li>Je vous accompagne dans l'apprentissage des outils bureautiques, multimédias et d'Internet</li>
            <li>Je vous forme aux bonnes pratiques pour sécuriser vos usages numériques</li>
            <li>Apprenez à protéger votre vie privée et celle de vos enfants</li>
            <li>Créez votre blog ou site web avec mes conseils</li>
        </ul>
        <section id="assistance_informatique" class="subPage">
            <h2>Assistance informatique</h2>
            <p>Que vous utilisiez, Windows, Linux ou un Mac, je peux vous aider, tant face à des pannes, bugs,
                dysfonctionnements que pour apprendre à mieux utiliser vos outils informatiques.</p>
            <p>Configuration, syncronisation, sauvegarde, nettoyage, bureautique, traitements d'images, réseaux
                sociaux, email... Je peux vous aider.</p>
            <p>Connexion de vos différents appareils, ordinateurs, smartphones, imprimantes, appareils photos...
                Demandez-moi !</p>
            <p>Un autre besoin ? Dans le doute, n'hésitez pas à me demander.</p>
        </section>
    </section>
    <section>
        <h3>Professionnel</h3>
        <ul>
            <li><a href="#developpement_web" class="subPageLink">Développement agile d'applications web sur
                    mesures</a></li>
            <li>Conseil et accompagnement à la création web</li>
            <li>Administration système linux</li>
            <li>Mise en place et maintenance de petits réseaux d'entreprise</li>
            <li>Support technique généraliste et spécialisé Logiciel Libre</li>
        </ul>
        <section id="developpement_web" class="subPage">TODO</section>
    </section>
</article>
