<article class="blocks">
    <header>
        <h2>Tarifs</h2>
        <p>
            Cela fait plus de 5 ans que je n'ai pas augmenté mes tarifs. Entre l'inflation cumulée sur plusieurs
            années
            et l'évolution de mon expertise,
            je me déciderai sûrement à le faire, et de façon significative. D'ici là, profitez-en !
        </p>
    </header>
    <section>
        <h3>Modalités</h3>
        <em>Retrouvez la version détaillée dans les <a href="#CGV" class="subPageLink">CGV - Conditions Générales de
                Vente</a>.</em>
        <p>
            Je facture le temps que je vous consacre.
        </p>
        <p>
            Tout quart d'heure entamé est dû.<br/><em>Ceci dit, si nous passons plusieurs heures ensemble, j'ai
                plutôt tendance
                à arrondir à l'inférieur comme geste commercial.</em>
        </p>
        <p>
            En cas de <strong>déplacement</strong>, je considère le temps pour me rendre chez vous comme vous étant
            consacré
            (mais pas le retour).
        </p>
        <p>
            En fonctionnant <strong>à la carte</strong>, facturation et paiement sont effectués en fin
            d'intervention.
            <em>Pour les interventions dépassant la journée, des paiements intermédiaires sont à prévoir.</em>
        </p>
        <p>
            Vous pouvez aussi acheter d'avance un <strong>forfait 4h</strong> utilisable en plusieurs fois sous
            forme de crédit-temps.
            Pratique pour l'assistance à distance récurrente, il est aussi plus économique.
        </p>
    </section>
    <section id="CGV" class="subPage"><%- include("CGV") %></section>
    <section>
        <h3>Prix libre solidaire</h3>
        <p>
            Aujourd'hui, la technologie est omniprésente, mais tout le monde n'est pas égal face à elle.
            J'aimerais rendre mes services accessibles à tous ceux qui en ont besoin, quels que soient leurs moyens.
            À l'instar des <a href="http://www.solidarum.org/vivre-ensemble/generosite-de-comptoir-du-cafe-suspendu"
                              target="_blank">cafés suspendus ou des pains en attente</a>,
            j'ai mis en place un compte solidaire en libre usage.
        </p>
        <p>
            Contrairement aux comptes clients, le compte solidaire est commun à tous.
            Chacun peut y contribuer comme y puiser.
        </p>
        <p>Tant qu'il y a suffisamment de crédit-temps sur ce compte pour compléter, mes prestations sont à prix
            libre.<br/>
            <em>Aucune justification n'est demandée pour éviter toute discrimination ou stigmatisation.</em>
        </p>
        <em>Consultez <a href="#exempleCompteSolidaire" class="subPageLink">quelques exemples</a> pour mieux
            comprendre.</em>
        <section id="exempleCompteSolidaire" class="subPage">
            <h2>Scénario d'usage du compte solidaire à prix libre</h2>
            <ul>
                <li>Lundi, le compte solidaire est <strong class="etat">vide</strong>.<br/>
                    <em>Seul les clients en mesure d'honorer mes prestations à leurs tarifs habituels peuvent
                        bénéficier de mes prestations.</em>
                </li>
                <li>Mardi, Alice souscrit à un forfait 6h, et règle à sa discrétion 25% suplémentaires pour
                    approvisionner le compte solidaire d'<strong class="plus">1h30</strong>.<br/>
                    <em>Elle utilise ensuite 2h30 de son crédit-temps personnel pour que je récupère l'accès à
                        plusieurs de ses comptes en lignes après un piratage,
                        et apprendre de meilleurs pratiques de sécurité pour éviter que cela ne se reproduise.</em>
                </li>
                <li>Mercredi, Bob <em>souhaite récupérer ses photos de famille après une suppression
                        accidentelle.</em><br/>
                    Il souhaite bénéficier du crédit-temps disponible sur le compte solidaire en complément de ce
                    qu'il peut payer pour le service.<br/>
                    En effet son budget couvre <strong class="plus">15 minutes</strong> de main d'oeuvre.<br/>
                    La restauration des photos me prend <strong class="moins">45 minutes</strong>, qui sont donc
                    décomptées du compte solidaire,<br/>
                    et Bob utilise son budget pour contribuer à sa mesure (15min) au compte solidaire pour les
                    suivants.<br/>
                    Il reste donc <strong class="etat">1h</strong> sur le compte Solidaire.
                </li>
                <li>Jeudi, Carole veut <em>synchroniser ses contacts entre son ordinateur et son téléphone,
                        et </em>régler la prestation, ni plus, ni moins.<br/>
                    Cela me prend 30 minutes, qu'elle paye au tarif classique, sans le majorer ni le minorer avec le
                    compte solidaire.<br/>
                    Il reste donc toujours <strong class="etat">1h</strong> de disponible sur le compte Solidaire.
                </li>
            </ul>
        </section>
        <!--
        Scale de sélection de l'utilisation/contribution du compte solidaire pour mettre à jour les prix en live.
        -->
    </section>
    <section>
        <h3>Monnaies acceptées</h3>
        <p>
            Le choix d'une monnaie plus égalitaire et redistributive que l'euro étant quelque chose qui me tient à
            coeur,
            j'accepte désormais également les <a href="https://fr.wikipedia.org/wiki/Ğ1" target="_blank">Junes
                (Ğ1)</a>.
        </p>
        <form id="moneySwitch">
            <fieldset>
                <legend>Afficher les prix en :</legend>
            </fieldset>
            <fieldset>
                <label><input type="radio" name="monnaie" value="euro" checked/><span>€</span></label>
                <label><input type="radio" name="monnaie" value="miel"/><span><img src="img/Miel.svg" alt="Miel" class="textSized"/></span></label>
                <label><input type="radio" name="monnaie" value="MNG1"/><span>M/N<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></label>
                <label><input type="radio" name="monnaie" value="DUG1"/><span>DU<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></label>
                <label><input type="radio" name="monnaie" value="G1"/><span><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></span></label>
            </fieldset>
            <ul>
                <li>
                    <span class="euro"><span class="montant"><%-fm(1)%></span><span class="monnaie">€</span></span>
                    <span class="miel"><span class="montant"><%-fm(1/Miel(1))%></span><span class="monnaie">€</span></span>
                    <span class="MNG1"><span class="montant"><%-fm(1/MN(1))%></span><span class="monnaie">€</span></span>
                    <span class="DUG1"><span class="montant"><%-fm(1/DU(1))%></span><span class="monnaie">€</span></span>
                    <span class="G1"><span class="montant"><%-fm(1/G1(1))%></span><span class="monnaie">€</span></span>
                </li>
                <li>
                    <span class="euro"><span class="montant"><%-fm(Miel(1))%></span><span class="monnaie"><img src="img/Miel.svg" alt="Miel" class="textSized"/></span></span>
                    <span class="miel"><span class="montant"><%-fm(Miel(1)/Miel(1))%></span><span class="monnaie"><img src="img/Miel.svg" alt="Miel" class="textSized"/></span></span>
                    <span class="MNG1"><span class="montant"><%-fm(Miel(1)/MN(1))%></span><span class="monnaie"><img src="img/Miel.svg" alt="Miel" class="textSized"/></span></span>
                    <span class="DUG1"><span class="montant"><%-fm(Miel(1)/DU(1))%></span><span class="monnaie"><img src="img/Miel.svg" alt="Miel" class="textSized"/></span></span>
                    <span class="G1"><span class="montant"><%-fm(Miel(1)/G1(1))%></span><span class="monnaie"><img src="img/Miel.svg" alt="Miel" class="textSized"/></span></span>
                </li>
                <li>
                    <span class="euro"><span class="montant"><%-fm(MN(1),4)%></span><span class="monnaie">M/N<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="miel"><span class="montant"><%-fm(MN(1)/Miel(1),4)%></span><span class="monnaie">M/N<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="MNG1"><span class="montant"><%-fm(MN(1)/MN(1),4)%></span><span class="monnaie">M/N<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="DUG1"><span class="montant"><%-fm(MN(1)/DU(1),4)%></span><span class="monnaie">M/N<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="G1"><span class="montant"><%-fm(MN(1)/G1(1),4)%></span><span class="monnaie">M/N<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                </li>
                <li>
                    <span class="euro"><span class="montant"><%-fm(DU(1))%></span><span class="monnaie">DU<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="miel"><span class="montant"><%-fm(DU(1)/Miel(1))%></span><span class="monnaie">DU<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="MNG1"><span class="montant"><%-fm(DU(1)/MN(1))%></span><span class="monnaie">DU<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="DUG1"><span class="montant"><%-fm(DU(1)/DU(1))%></span><span class="monnaie">DU<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                    <span class="G1"><span class="montant"><%-fm(DU(1)/G1(1))%></span><span class="monnaie">DU<sub><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></sub></span></span>
                </li>
                <li>
                    <span class="euro"><span class="montant"><%-fm(G1(1))%></span><span class="monnaie"><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></span></span>
                    <span class="miel"><span class="montant"><%-fm(G1(1)/Miel(1))%></span><span class="monnaie"><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></span></span>
                    <span class="MNG1"><span class="montant"><%-fm(G1(1)/MN(1))%></span><span class="monnaie"><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></span></span>
                    <span class="DUG1"><span class="montant"><%-fm(G1(1)/DU(1))%></span><span class="monnaie"><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></span></span>
                    <span class="G1"><span class="montant"><%-fm(G1(1)/G1(1))%></span><span class="monnaie"><img src="img/G1June.svg" alt="Ǧ1" class="textSized"/></span></span>
                </li>
            </ul>
        </form>
    </section>


    <!--
    <section class="zonePrix">
        <h3>Prix</h3>
        <em>Prix net (Hors Taxes, TVA non applicable)</em>
        <ul>
            <li><span class="prix">
                    <span class="euro">15 €</span><span class="G1">150,30 <img src="img/G1June.svg" alt="Ǧ1"
                                                                               class="textSized"/></span><span
                            class="DUG1">15 DU<sub><img src="img/G1June.svg" alt="Ǧ1"
                                                        class="textSized"/></sub></span><span> le quart d'heure, <strong>à la carte</strong></span>
                </span>
                <em class="tauxHoraire">
                    (<span class="euro">60 €</span><span class="G1">601,20 <img src="img/G1June.svg" alt="Ǧ1"
                                                                                class="textSized"/></span><span
                            class="DUG1">60 DU<sub><img src="img/G1June.svg" alt="Ǧ1"
                                                        class="textSized"/></sub></span> de l'heure).
                </em>
            </li>
            <li><span class="prix">
                    <span class="euro">300 €</span><span class="G1">3006 <img src="img/G1June.svg" alt="Ǧ1"
                                                                              class="textSized"/></span><span
                            class="DUG1">300 DU<sub><img src="img/G1June.svg" alt="Ǧ1"
                                                         class="textSized"/></sub></span><span> le <strong>forfait 6h</strong></span>
                </span>
                <em class="tauxHoraire">
                    (<span class="euro">50 €</span><span class="G1">501 <img src="img/G1June.svg" alt="Ǧ1"
                                                                             class="textSized"/></span><span
                            class="DUG1">50 DU<sub><img src="img/G1June.svg" alt="Ǧ1"
                                                        class="textSized"/></sub></span> de l'heure).
                </em>
            </li>
            <li>Enfin, si vous avez un projet suffisamment aligné avec mes valeurs pour m'enthousiasmer, parlons-en.
            </li>
        </ul>
    </section>
    -->
    <section class="zonePrix">
        <h3>Prix</h3>
        <em>Tarifs en cours de refonte, a bientôt (début 2020) pour des formules d'abonnements, de soutiens récurents ou ponctuels,
            un forfait horaire toujours présent et du hors forfait pour les cas les plus irrégulier...
            Sans oublier le compte solidaire qui se verra allimenté de multiples manières !</em>
    </section>

</article>
