<!DOCTYPE html>
<html lang="fr">
<%- include("fragments/head") %>
<!-- TODO : version français inclusif et version français académique-->
<body>
<header id="splash"><%- include("pages/splash") %></header>
<%- include("fragments/nav") %>
<section id="accueil"><%- include("pages/accueil") %></section>
<section id="services"><%- include("pages/services") %></section>
<section id="tarifs"><%- include("pages/tarifs") %></section>
<section id="references"><%- include("pages/references") %></section>
<section id="contact"><%- include("pages/contact") %></section>
<%- include("fragments/aside") %>
<section id="libre_simple_privacy" class="subPage"><%- include("pages/valeurs") %></section>
<script src="main.js"></script>
</body>
</html>
