<%
    const data = JSON.parse(include("projects.json.ejs"));
%>
<!DOCTYPE html>
<html lang="fr">
<%- include("fragments/head") %>
<body>
<% data.projects.forEach(project=>{
_%>
<section id="<%=latinize(project.name)%>">
    <h2><%=project.name%></h2>
    <h3><%=project.punchline%></h3>

    <!-- images / vidéo -->

    <p>Logiciel open source libre (FOSS) licence <%=project.license%> : protège ses usagers, pas ses investisseurs.</p>
    <p>Etat d'avancement : <a href="<%=project.srcUrl%>" target="_blank"><%= project.version?project.version:"en projet" %></a></p>
    <p>
        <%= project.projectStartDate?`Initié en ${project.projectStartDate}`:"" %>
        <%- project.launchDate?`<a href="${project.demoUrl}" target="_blank">Utilisable</a> depuis le/ ${project.launchDate}`:"" %>
        <%= project.lastUpdate?`, dernière évolution le/en ${project.lastUpdate}`:"" %>
    </p>
    <p>
        <% if(project.launchDate) {_%>
            Merci pour votre soutien collectif sur ce projet.
            <a href="https://1forma-tic.fr/soutien.html#<%=latinize(project.name)%>">
                Soutenez-moi pour qu'il puisse évoluer et mieux correspondre à vos besoins.
            </a>
        <% } else { _%>
            J'ai besoin de votre aide pour pouvoir concrétiser ce projet.
        <a href="https://1forma-tic.fr/soutien.html#<%=latinize(project.name)%>">Soutenez-moi de la manière qui vous conviens !</a>
        <% } _%>
    </p>
</section>
<% }); _%>
</body>
</html>
