bordeaux = #6E0B14
vert=#ad0
bleu=#7af
orangeCol=#d60
orangeVeste=#d84
orangeTete=#fa6
gris= hsla(0,0,0,0.2)
titleColor=bordeaux
colorOr =lighten(#C80,20%)
bleuDuniter=#4AF
menuBorderSize=2px
menuHeight=64px
menuHeightArea=menuHeight //+menuBorderSize
smallSpace=10px
asideWidth=200px
bgMain=linear-gradient(to right, lighten(bleu,90%), lighten(colorOr,10%) 5%, lighten(bleu,90%) 5*asideWidth)
bgMenu=hsla(0,0,0%,.7);
colorMenu=white
bgArticle=lighten(bleu,90%)
bgMenuHover=linear-gradient(to top, #cef, #acd)
bgAside=bgArticle
bgFocus=hsla(0,0,100%,.5);
bannerTextSize=unquote("calc(2.5vw + 2.5vh)")
bigTextSize=unquote("calc(1.3vw + 1.3vh)")
splashHeight=100vh


@font-face {
  font-family: 'Ubuntu';
  src: url('img/ubuntu-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('img/ubuntu-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

*
  margin 0
  padding 0
  border 0
  box-sizing border-box
  color darken(bleu,90%)
  font-family Ubuntu, sans-serif

body
  background bgMain
  display flex
  flex-direction column
  justify-content center

a
  color darken(colorOr,50%)
  text-decoration-color alpha(darken(colorOr,50%), .3)
a:hover
  text-decoration-color alpha(darken(colorOr,50%), .9)
header h1
  margin 0

.title img
  height menuHeight
  padding 6px
  margin-right smallSpace
  float left

nav, footer
  position fixed
  background bgMenu
  display flex
  justify-content space-around
  width 100%
  line-height menuHeight
  z-index 2
  .title
    font-size 26px
    text-align left
    font-weight bold
    flex 1.5
  > .spacer
    flex 2
  > a
    flex 1
    color colorMenu
    font-size 24px
    text-align center
    overflow hidden
    white-space nowrap
    margin 0 smallSpace
    border 0 solid transparent
    text-decoration none
nav a:hover
  color colorOr
  font-weight bold
  background alpha(bgMenu,.1)
  box-shadow 0px 2px 4px 1px black
  transform scale(1.05,1)

nav
  position sticky
  top 0
footer
  display none
  bottom 0

address
  padding-left smallSpace

p
  margin smallSpace 0
  text-align justify
  text-indent 2*smallSpace

h1, h2, h3, h4
  margin-top 2*smallSpace
  margin-bottom smallSpace
  color titleColor
  font-family Ubuntu, sans-serif

ul
  padding-left 4*smallSpace

body>section
  margin-top 2px
  background bgArticle
  transition background .5s

article
  margin-right "calc(%s + 5vw)" % asideWidth
  margin-left 5vw
  padding-top menuHeightArea
  padding-bottom 0.5*menuHeightArea
  text-align justify
  font-size 150% // 110%

  &.blocks
    display flex
    flex-wrap wrap
    > header
      flex 1 100vw
    > *
      flex 1 550px
      padding 2*smallSpace
li
  margin smallSpace // smallSpace/2
  margin-left 2*smallSpace

em
  font-size 80%
em[id]
  display block
  padding-top menuHeightArea + smallSpace
  margin-top -(menuHeightArea + smallSpace)

#moneySwitch fieldset,
#moneySwitch ul
  text-align center
  margin smallSpace 0
  display flex
  li
    /*width 125px
    line-height 70px
    height 70px*/
    margin 0 4px
    list-style-type none
    &:after
      content "= "
    &:last-child:after
      content ""

  legend
    width 100%
  label
    display inline-block
    width 125px
    line-height 70px
    height 70px
    font-size 125%
    background-image linear-gradient(to bottom, alpha(gris,.1) 0%, alpha(gris,.3) 100%)
    border-left 1px solid gris
    cursor pointer
    &:hover
      box-shadow inset 0 0 20px alpha(gris,.4)

    &:first-child
      &, span
        border-left none
        border-top-left-radius 35px
        border-bottom-left-radius 35px
    &:last-child
      &, span
        border-top-right-radius 35px
        border-bottom-right-radius 35px
    input
      display none
    input[type="radio"]:checked + span
      display block
      height 70px
      background-color bleu
      background-image linear-gradient(to bottom, lighten(bleu,20%), darken(bleu,10%))
      box-shadow 0 0 10px alpha(bleu, .7)
      cursor auto


.textSized
  height 1.2em
  vertical-align text-top
.highlight
  transition background .5s
  background bgFocus

.button
  font-size bannerTextSize
  background-color bleuDuniter
  border-radius smallSpace
  padding smallSpace 4*smallSpace
  cursor pointer
  letter-spacing 4px
  font-weight bold
  text-shadow none
  display inline-block
  transition transform 0.4s cubic-bezier(0.5,2,0.5,2)
  &:hover
    transform scale(1.05)

.plan
  display block
  margin auto
  max-width 100%
  max-height 50vh

.flex_container
  display flex
  flex-wrap wrap
  .tier
    flex 1 250px
    text-align center
    line-height 150%
    margin 2*smallSpace 0
    &:last-child
      flex 1 350px

#splash
  background-color black
  background-image url("img/maze_ba.png"), linear-gradient(to top, darken(orangeVeste,90%) 0%, darken(alpha(bleu,.92),90%) 40%, darken(alpha(bleu,.5),90%) 100%), url("img/nebula-n.jpg")
  //background-image url("img/maze_wa.png"), url("img/nebula-n.jpg")
  //background-image url("img/nebula-n.jpg")
  //background-size cover
  position relative
  z-index 1
  height splashHeight
  width 100%
  > *
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  > h1
    background-image url("img/rock-people-silhouette.svg")
    background-repeat no-repeat
    background-size 110vw
    background-position bottom center

    display flex
    align-items center
    flex-wrap wrap
    height splashHeight
    width 100%
    *
      flex 1 100px
      color #f8f8f8
      margin auto
      text-align center
    img
      max-width 50vw
      max-height splashHeight*0.75
    a
      display flex
      align-items center
      flex-wrap wrap
      padding 0 smallSpace
      span
        font-family sans-serif
        font-size bannerTextSize
        font-weight bold
        text-shadow 0 0 8px black
        //text-shadow 0 0 10px #000, 0 0 20px #000, 0 0 40px #000, 0 0 60px #000, 0 0 80px #000
        line-height 140%
      text-decoration none
      height splashHeight
      @media (orientation: portrait)
        flex-direction column




#valeurs
  display flex
  flex-wrap wrap
  padding-bottom 0
  .portrait
    max-width 33vw
    margin auto
  .col_portrait
    flex 1 250px
    display flex
    flex-direction column
    justify-content space-around
  .col
    flex 2 250px
    padding 1vh 0;
    display flex
    flex-direction column
    justify-content space-around
  p
    font-size bigTextSize
    font-family sans-serif
    text-decoration none
    line-height 140%
    text-indent 0
    &.liste_valeurs
      text-align center
      font-weight bold


#programme article
  >ul>li
    display flex
    //border-top 1px solid black
    >div
      flex 1 300px
    .sessions
      margin-top 2*smallSpace
      flex 2 300px
      a
        display block


body>section
  position relative

.subPage
  padding 4*smallSpace
  padding-top menuHeightArea
  float right
  border 0
  border-left 4px solid transparent
  border-image linear-gradient(to bottom, transparent menuHeightArea, lighten(colorOr,30%) 25%, lighten(colorOr,30%) 75%, transparent 100%) 1 100%


  //img
  //  float right
  //  width 12vw
  &.active
    position fixed;
    top 2*menuHeightArea
    bottom menuHeightArea
    left menuHeightArea
    right menuHeightArea + asideWidth
    padding 4*smallSpace
    background-color white
    box-shadow 0 0 5*smallSpace smallSpace black
    overflow auto
    z-index 3
    .close
      position fixed
      top 2*menuHeightArea
      right menuHeightArea + asideWidth + 2 * smallSpace
      padding 6px 3*smallSpace 2px
      margin 0 smallSpace
      font-weight bold
      text-decoration none
      display block
      border 0
      border-bottom 1px solid transparent
      border-image linear-gradient(to right, transparent 0%, lighten(colorOr,30%) 25%, lighten(colorOr,30%) 75%, transparent 100%) 100% 1
    .bgPopupClose
      position fixed
      background-color hsla(0,0,0,0.4);
    .bgTop
      top menuHeightArea
      bottom "calc(100% - %s)" % (2*menuHeightArea)
      left 0
      right 0
    .bgBottom
      top "calc(100% - %s)" % menuHeightArea
      bottom 0
      left 0
      right 0
    .bgLeft
      top 2*menuHeightArea
      bottom menuHeightArea
      left 0
      right "calc(100% - %s)" % menuHeightArea
    .bgRight
      top 2*menuHeightArea
      bottom menuHeightArea
      left "calc(100% - %s)" % (menuHeightArea + asideWidth)
      right 0

.starter .subPage.active .bgTop
      top 0;


  a.subPageLink
    clear both
    &.active:after
      content " "
      background linear-gradient(to left, lighten(colorOr,30%) 0, transparent 100%)

.inactive
  position fixed
  right -200vw
//  display none

.noScroll
  overflow hidden

.strong
  font-weight bold

.plus
  color darken(vert,30%)
.moins
  color orangeCol
.etat
  color bleu

aside
  position fixed
  top menuHeightArea
  right 0
  bottom 0
  padding smallSpace
  width asideWidth
  background bgAside
  border 0
  border-left 1px solid transparent
  border-image linear-gradient(to bottom, lighten(bleuDuniter,90%), lighten(colorOr,10%) 2*menuHeightArea, lighten(bleuDuniter,90%) 6*menuHeightArea) 1 100%
  p
    text-indent smallSpace

#credit_temps
  *
    text-align center
    display block

@media (max-width: 500px)
  aside
    display none
  article
    margin-right 5%
  footer
    display initial
    text-align center

@media (min-width: 1210px) and (max-width: 1460px)
  .spacer
    display none
@media  (max-width: 1060px)
  .spacer
    display none
@media (min-width: 1211px)
  .short
    display none
@media (min-width: 831px) and (max-width: 1210px)
  .long
    display none
@media (max-width: 830px)
    .short, .long
      display none
